<p>news works!</p>

  <!-- Enter your name: <input type="text" [(ngModel)]="name"> <hr/>
  Hello My name is: {{name}} -->

  <!-- <div>
    <h1 class="blue-heading">Hello World</h1>
    <h1 [class]="redHeading">Hello World</h1>
    <h1 class="text-italic" class="blue-heading">Hello World</h1>
    <h1 class="text-italic" [class]="redHeading">Hello World</h1>
    <h1 [class.text-italic]="true">Hello World</h1>
    <h1 class="blue-heading" [class.text-italic]="isItalic">Hello World</h1>
    <h1 [ngClass]="messageClasses">Hello World</h1>

    <h1 [style.color]="hightLightColor">Hello World1</h1>
    <h1 [style.color]="'green'">Hello World1</h1>
    <h1 [style.color]="true? 'red':'green'">Hello World1</h1>
    <h1 [ngStyle]="messageStyles">Hello World2</h1>

  </div> -->

  
<!-- <div *ngIf="expactDetails; then thenBlock else elseBlock">
    Contact Details
</div>
<ng-template #elseBlock>
    Else Block is here
</ng-template>
<ng-template #thenBlock>
    Then Block is here
</ng-template>

<hr/> -->
<!-- <div *ngFor="let task of taskList">
    <span ngClass={selectedItem}>
        {{task}}
    </span>
    <button (click)="deleteTask(task)">Delete</button>
</div> -->