<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card mt-3">
                <div class="card-header text-white bg-success">
                    Just To Do List! 
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Enter the task:</label>
                        <input class="form-control" #taskValue name="name" type="text" [(ngModel)]="task"
                            (keyup.enter)="addTask(task)" />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" (click)="addTask(task)">Add</button>
                    </div>
                </div>
            </div>
            <div>
                <div *ngIf="taskList.length>0" class="m-5">
                    <div (click)="completedTask(task)" class="row m-2 border border-primary p-2" *ngFor="let task of taskList">
                        <div [ngClass]="getCustomCss(task)" class="col">
                            <!-- <input type="checkbox"/> -->
                            {{task}}
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" (click)="deleteTask(task)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>